<h2 class="ion-margin-start bold">Contenido por ver</h2>
<div class="movie-container">
  <div class="movies">
    <div class="movie-image">
      <ion-skeleton-text animated></ion-skeleton-text>
    </div>
    <div class="movie-image">
      <ion-skeleton-text animated></ion-skeleton-text>
    </div>
    <div class="movie-image">
      <ion-skeleton-text animated></ion-skeleton-text>
    </div>
    <div class="movie-image">
      <ion-skeleton-text animated></ion-skeleton-text>
    </div>
    <div class="movie-image">
      <ion-skeleton-text animated></ion-skeleton-text>
    </div>
  </div>
</div>
