.bold {
  font-weight: bold;
}

.light {
  font-weight: lighter;
}

.logo {
  --border-radius: 10px;
}

#review-btn {
  --border-radius: 20px;
}
.category-name-chip {
  --background: var(--ion-color-secondary);
}
