.bold {
  font-weight: bold;
}
.avatar-size {
  width: 100% !important;
  height: 100% !important;
  max-width: 100px !important;
  max-height: 100px !important;
}

#profile {
  #name {
    display: block;
    text-align: center;
    margin-bottom: 4px;
  }

  #username {
    margin-top: 0px;
    display: block;
    text-align: center;
    font-weight: lighter;
  }
}

.movie-container {
  overflow-x: scroll;
  .movies {
    display: flex;
    width: max-content;
    .movie-image {
      width: 100px;
      height: 150px;
      margin-left: 10px;
      margin-right: 10px;
      border-radius: 10px;
      object-fit: cover;
    }
  }
}

.movies > div {
  position: relative;
}

::-webkit-scrollbar {
  display: none;
}

.seguir {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  ion-button {
    --border-radius: 20px;
    --padding-start: 36px;
    --padding-end: 36px;
    max-height: 38px;
  }
}

.add-watchlist {
  position: absolute;
  top: 5px;
  right: 15px;

  ion-button {
    font-size: 13px;
    --border-radius: 50%;
    --padding-start: 2px;
    --padding-end: 2px;
    --padding-top: 2px;
    --padding-bottom: 2px;
    --background: #444c67;
    --opacity: 0.8;
    max-height: 30px;
    min-height: 30px;
    max-width: 30px;
    min-width: 30px;
    margin: 0;
  }
}
