<ion-header>
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-menu-button *ngIf="isProfileRoute"></ion-menu-button>
      <ion-back-button *ngIf="!isProfileRoute"></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row class="ion-justify-content-center" *ngIf="loading; else content">
    <ion-spinner name="crescent" color="primary"></ion-spinner>
  </ion-row>
  <ng-template #content>
    <ion-row
      class="ion-justify-content-center ion-margin-top ion-align-items-end"
    >
      <ion-col size="6">
        <div id="profile">
          <ion-avatar slot="start" class="avatar-size" style="margin: auto">
            <img class="avatar-size" [src]="user.image" />
          </ion-avatar>
          <h3 id="name">{{user.name}}</h3>

          <h5 id="username">@{{user.username}}</h5>
          <div class="seguir" *ngIf="!isProfileRoute && !myUserRoute">
            <ion-button
              [color]="isFollowingUser? 'medium' : 'tertiary'"
              size="default"
              [disabled]="loadingFollowButton"
              (click)="follow()"
              >{{isFollowingUser? 'Siguiendo' : 'Seguir'}}<ion-spinner
                *ngIf="loadingFollowButton"
                name="dots"
              ></ion-spinner
            ></ion-button>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <div *ngIf="isProfileRoute">
      <h2 class="ion-margin-start bold">Contenido por ver</h2>
      <div class="movie-container">
        <div class="movies">
          <div
            *ngFor="let movie of watchlist"
            [routerLink]="'../movie/information/'+movie.id"
          >
            <img class="movie-image" [src]="movie.image_cover" />
            <div class="add-watchlist">
              <ion-button (click)="removeFromWatchlist($event, movie.id)">
                <ion-icon name="remove"></ion-icon>
              </ion-button>
            </div>
          </div>
          <div class="show-movies movie-image" routerLink="/tabs/movie">
            <div class="icon">
              <ion-icon name="search-sharp"></ion-icon>
            </div>
            <div class="see-catalog">Ver películas del catálogo</div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <h2 class="ion-margin-start bold">Últimas reseñas</h2>
      <app-empty-list
        *ngIf="!reviews.length"
        message="Aún no hay ninguna reseña de los usuarios a los que sigues."
      ></app-empty-list>
      <app-card-review
        *ngFor="let rev of reviews"
        [review]="rev"
      ></app-card-review>
    </div>
  </ng-template>
</ion-content>
