<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="movie" class="movie">
      <ion-icon src="/assets/icon/movie.svg"></ion-icon>
      <ion-label>Películas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="following">
      <ion-icon src="/assets/icon/review.svg"></ion-icon>
      <ion-label>Siguiendo</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon src="/assets/icon/user.svg"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
