#circle1 {
  border-radius: 50%;
  position: absolute;
  width: 700px;
  height: 700px;
  left: -332px;
  top: -414px;
  background: #4c525c;
  z-index: 1;
  @media (max-height: 720px) {
    height: 630px;
  }
}

#circle2 {
  border-radius: 50%;
  position: absolute;
  width: 398px;
  height: 398px;
  right: -184px;
  top: -183px;

  background: #ff9c41;
}
#circle3 {
  position: absolute;
  width: 22em;
  height: 13em;
  right: -110px;
  bottom: -50px;
  border-top-left-radius: 100%;
  background: #141927;
  .login {
    border-bottom-style: solid;
    border-bottom-color: #ff9c41;
    border-bottom-width: 5px;
    line-height: 6px;
    position: absolute;
    right: 40%;
    bottom: 30%;
    color: white;
    font-size: x-large;
  }
}

#text-create {
  position: absolute;
  width: 208px;
  height: 126px;
  left: 36px;
  top: 50px;
  z-index: 100;
  font-weight: 500;
  font-size: 46px;
  line-height: 63px;
}

#text-register {
  font-size: large;
  color: black;
}
.content {
  position: relative;
  top: 40%;
  width: 100%;
}

.bg-color {
  --background: #e1e1e1;
}
.register {
  border-bottom-style: solid;
  border-bottom-color: #4870ff;
  border-bottom-width: 5px;
  line-height: 6px;
  color: black;
}
#form {
  width: 100%;

  .form-item {
    border-radius: 10px;
    --highlight-color-valid: var(--ion-color-primary);
  }
}

.to-center {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
