<ion-content class="bg-color">
  <div id="circle1"></div>
  <div id="text-create">Crear una cuenta</div>
  <div id="circle2"></div>
  <div class="content">
    <ion-row class="ion-justify-content-center ion-margin-horizontal">
      <form [formGroup]="registerForm" id="form">
        <ion-item color="medium" class="form-item">
          <ion-label position="fixed">Nombre</ion-label>
          <ion-input formControlName="name" type="text"></ion-input>
        </ion-item>
        <ion-item color="medium" class="form-item ion-margin-vertical">
          <ion-label position="fixed">Usuario</ion-label>
          <ion-input formControlName="user" type="text"></ion-input>
        </ion-item>
        <ion-item class="ion-margin-vertical form-item" color="medium">
          <ion-label position="fixed">Contraseña</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>
        <div class="ion-margin-vertical to-center">
          <ion-label class="ion-margin-horizontal" id="text-register"
            >Registrarse</ion-label
          >
          <ion-fab-button mode="ios" (click)="register()">
            <ion-icon name="arrow-forward-outline"></ion-icon
          ></ion-fab-button>
        </div>
      </form>
    </ion-row>
  </div>
  <div id="circle3">
    <div class="login" routerLink="..">Iniciar sesión</div>
  </div>
</ion-content>
