#circle1 {
  border-radius: 50%;
  position: absolute;
  width: 84vh;
  height: 81vh;
  left: -390px;
  top: -390px;
  background: #4c525c;
  z-index: 1;
  z-index: 1;
  @media (max-height: 730px) {
    width: 100vh;
    height: 90vh;
  }
}

#circle2 {
  border-radius: 50%;
  position: absolute;
  width: 55vh;
  height: 51vh;
  right: -184px;
  top: -183px;

  background: #ff9c41;
  @media (max-height: 730px) {
    width: 70vh;
    height: 54vh;
  }
}
#circle3 {
  position: absolute;
  width: 25vh;
  height: 20vh;
  right: 0px;
  bottom: 0px;
  border-top-left-radius: 100%;
  background: #141927;
}

.login {
  border-bottom-style: solid;
  border-bottom-color: #ff9c41;
  border-bottom-width: 5px;
  line-height: 6px;
  color: #141927;
}

#text-create {
  position: absolute;
  width: 35vh;
  height: 126px;
  left: 4vh;
  top: 5vh;
  z-index: 100;
  font-weight: 500;
  font-size: 5vh;
  line-height: 63px;
}

#text-register {
  font-size: large;
  color: black;
}
.content {
  position: relative;
  top: 35%;
  width: 100%;
  @media (max-height: 730px) {
    top: 33%;
  }
}

.bg-color {
  --background: #e1e1e1;
  display: relative;
}
.register {
  border-bottom-style: solid;
  border-bottom-color: #4870ff;
  border-bottom-width: 5px;
  line-height: 6px;
  color: black;
}
#form {
  width: 100%;

  .form-item {
    border-radius: 10px;
    --highlight-color-valid: var(--ion-color-primary);
  }
}

.to-center {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
