<ion-content>
  <div id="circle"></div>
  <div id="circle2"></div>
  <div class="content">
    <ion-row class="ion-justify-content-center">
      <div id="logo">
        <ion-img src="assets/icon/logo.svg" width="100%"></ion-img>
      </div>
    </ion-row>
    <ion-row class="ion-justify-content-center ion-margin-horizontal">
      <form id="form" [formGroup]="loginForm" (ngSubmit)="logIn()">
        <ion-item color="secondary" class="form-item">
          <ion-input
            formControlName="user"
            type="text"
            mode="ios"
            placeholder="Usuario"
          ></ion-input>
        </ion-item>
        <ion-item class="ion-margin-vertical form-item" color="secondary">
          <ion-input
            formControlName="password"
            [type]="typePassword()"
            mode="ios"
            placeholder="Contraseña"
          ></ion-input>
          <ion-icon
            [name]="showPassword? 'eye-off':'eye'"
            (click)="changeVisibility()"
          ></ion-icon>
        </ion-item>
        <div
          class="ion-margin-vertical"
          style="display: flex; align-items: center; justify-content: flex-end"
        >
          <ion-label class="ion-margin-horizontal" style="font-size: large"
            >Iniciar sesión</ion-label
          >
          <ion-fab-button mode="ios" (click)="logIn()">
            <ion-icon name="arrow-forward-outline"></ion-icon
          ></ion-fab-button>
        </div>
        <ion-row class="ion-justify-content-center">
          <div style="display: inline-block; text-align: center">
            <div class="ion-margin-vertical">o</div>
            <div class="register" routerLink="./registro">Registrarse</div>
          </div>
        </ion-row>
      </form>
    </ion-row>
  </div>
</ion-content>
