<div class="container">
  <div class="movie-esk">
    <ion-skeleton-text animated></ion-skeleton-text>
  </div>
  <div class="title-esk">
    <ion-skeleton-text animated></ion-skeleton-text>
  </div>
  <div class="score-div-esk">
    <div
      class="icon-esk"
      style="height: 15px; width: 15px; border-radius: 100%"
    >
      <ion-skeleton-text animated></ion-skeleton-text>
    </div>
    <div class="score-esk">
      <ion-skeleton-text animated></ion-skeleton-text>
    </div>
  </div>
</div>
