<div class="review-esk ion-margin">
  <div class="top-card">
    <div class="image-esk">
      <ion-skeleton-text animated></ion-skeleton-text>
    </div>
    <div class="container2">
      <div class="name-esk">
        <ion-skeleton-text animated></ion-skeleton-text>
      </div>
      <div class="score-div-esk">
        <div class="icon-esk">
          <ion-skeleton-text animated></ion-skeleton-text>
        </div>
        <div class="score-esk">
          <ion-skeleton-text animated></ion-skeleton-text>
        </div>
      </div>
    </div>

    <div class="movie-name-esk">
      <ion-skeleton-text animated></ion-skeleton-text>
    </div>
  </div>
  <div class="ion-margin-vertical">
    <div class="text-esk">
      <ion-skeleton-text animated></ion-skeleton-text>
    </div>
    <div class="text-esk">
      <ion-skeleton-text animated></ion-skeleton-text>
    </div>
    <div class="text-esk">
      <ion-skeleton-text animated></ion-skeleton-text>
    </div>
  </div>
</div>
