.review-esk {
  width: 90%;
  height: 185px;
  background-color: var(--ion-color-secondary);
  border-radius: 10px;
  padding: 16px;
}

.top-card {
  display: flex;
  .icon-esk {
    height: 15px;
    width: 15px;
    border-radius: 100%;
  }
  .image-esk {
    border-radius: 100%;
    width: 60px;
    height: 60px;
  }
  .container2 {
    margin-left: 16px;
    margin-top: 5px;

    .score-div-esk {
      display: flex;
      align-items: center;
      .score-esk {
        margin-left: 10px;
        margin-top: 5px;
        width: 80px;
        border-radius: 5px;
      }
    }
  }
  .movie-name-esk {
    width: 84px;
    height: 32px;
    border-radius: 20px;
    margin-left: auto;
  }
}

.name-esk {
  width: 108px;
  height: 18px;

  border-radius: 5px;
}

.text-esk {
  width: 311px;
  height: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
}
