.image {
  position: relative;
  img {
    width: 120px;
    height: 190px;
    object-fit: cover;
    border-radius: 10px;
  }
}

.container {
  width: 120px;
}

.add-watchlist {
  position: absolute;
  top: 5px;
  right: 5px;

  ion-button {
    font-size: 13px;
    --border-radius: 50%;
    --padding-start: 2px;
    --padding-end: 2px;
    --padding-top: 2px;
    --padding-bottom: 2px;
    --background: #444c67;
    --opacity: 0.8;
    max-height: 30px;
    min-height: 30px;
    max-width: 30px;
    min-width: 30px;
    margin: 0;
  }
}

.name {
  font-weight: 400;
  font-size: 17px;
  width: 120px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.extra-info {
  font-weight: 400;
  font-size: 13px;
  color: #9597a3;
  ion-icon {
    color: yellow;
  }
}
