<ion-header>
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Reseñas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-row class="ion-justify-content-center" *ngIf="loading; else content">
    <ion-spinner name="crescent" color="primary"></ion-spinner>
  </ion-row>
  <ng-template #content>
    <app-card-review
      *ngFor="let review of reviews"
      [review]="review"
    ></app-card-review>
  </ng-template>
</ion-content>
