ion-chip {
  img {
    height: 18px;
    margin-right: 7px;
  }
  ion-icon {
    color: white;
  }
}

.categories-container {
  overflow-x: scroll;

  .categories {
    width: max-content;
    .chip-pressed {
      background-color: var(--ion-color-primary);
    }
    ion-chip {
      --background: var(--ion-color-secondary);
    }
  }
}

::-webkit-scrollbar {
  display: none;
}

.movies-container {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  app-movie {
    margin-right: 40px;
  }
}

.producers-container {
  margin-left: 10px;
}

.producer {
  margin-bottom: 20px;
}
