<ion-header>
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Películas y Series</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding-top ion-padding-start">
  <div *ngIf="loading">
    <div style="display: flex">
      <ion-skeleton-text animated class="esk-chip"></ion-skeleton-text>
      <ion-skeleton-text animated class="esk-chip"></ion-skeleton-text>
      <ion-skeleton-text animated class="esk-chip"></ion-skeleton-text>
      <ion-skeleton-text animated class="esk-chip"></ion-skeleton-text>
    </div>
    <app-eskeleton-category></app-eskeleton-category>
    <app-eskeleton-category></app-eskeleton-category>
    <app-eskeleton-category></app-eskeleton-category>
  </div>
  <div
    *ngIf="!loading
  "
  >
    <div class="categories-container">
      <div class="categories">
        <ion-chip
          [class.chip-pressed]="selectedCategoryId===-1"
          (click)="selectCategory(-1)"
        >
          <ion-icon name="apps"></ion-icon>
          <ion-label>Todas</ion-label>
        </ion-chip>
        <ion-chip
          *ngFor="let category of categories"
          [class.chip-pressed]="selectedCategoryId===category.id"
          (click)="selectCategory(category.id)"
        >
          <img [src]="category.icon" alt="categ-icon" />
          <ion-label>{{category.name}}</ion-label>
        </ion-chip>
      </div>
    </div>
    <div class="producers-container">
      <div class="producer" *ngFor="let producer of producers">
        <h3>{{producer.name}}</h3>
        <div class="movies-container">
          <app-movie
            *ngFor="let movie of producer.movies"
            [movie]="movie"
            [routerLink]="['information',movie.id]"
          >
          </app-movie>
        </div>
      </div>
    </div>
  </div>
</ion-content>
