#profile {
  #name {
    margin-bottom: 4px;
    width: 170px;
    height: 20px;
    border-radius: 20px;
    margin-top: 1px;
    margin-bottom: 4px;
    margin-left: auto;
    margin-right: auto;
  }

  #username {
    width: 100px;
    height: 20px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}

.image {
  border-radius: 100%;
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}
